<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>> 画像生成アプリ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
    <h1 class="main-title">画像生成アプリ</h1>
    <div class="icon-group">
      <img src="/static/search_icon.png" alt="検索アイコン" class="search-icon" title="たくさん画像を作成しよう">
      <img src="/static/phone_icon.png" alt="電話アイコン" class="phone-icon" title="作り方は簡単だよ！">
    </div>
    </div>
    <div class="container">
      <img src="/static/Chat1.png" alt="Chat1" class="chat1-image">
    <div>
       
   <footer class="bottom-menu">
    <div class="menu-block">
    <a href="/preview_static" target="_blank">①静止画像スタンプ</a>
    </div>
    <div class="menu-block">
    <a href="/preview_animation" target="_blank">②アニメーション画像スタンプ</a>
    </div>

  </footer>


    <!-- JavaScriptを読み込む -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>

